* {
  --main-color: #f5f5f5;
  --secondary-color: #f2ead3;
  --tertiary-color: #dfd7bf;
  --accent-color: #3f2305;
}

.checkbox {
  border-radius: 100px;
  min-width: 2rem;
  min-height: 2rem;
}

.hide {
  display: none;
}

nav {
  background-color: var(--secondary-color);
}

main {
  background-color: var(--tertiary-color);
}

.buttonsToClick {
  background-color: var(--tertiary-color);
}

.newTask,
.newCategory,
.General {
  background-color: var(--accent-color);
}

.tasks {
  background-color: var(--secondary-color);
}

.task {
  background-color: var(--main-color);
  border-radius: 2rem;
}

.eachCategContainer {
  background-color: var(--main-color);
  transition: background-color 100ms;
}

.eachCategContainer:hover {
  background-color: #ababab;
}

.underline {
  display: relative;
}
